body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(-259deg,#5E60E7 0,#9C7AF2 65%);
}

body::-webkit-scrollbar{
    width: 14px;
    background-color: white;
}

body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(-259deg, #5e60e7 0, #9c7af2 65%);
    border-radius: 25px;
}